html
	head
		block head
			title WebMole
			block scripts
			block styles
				style.
					body {
						background-color: #000000;
						background-image: url("https://www.mafiascum.net/images/img-tags/sxIQlRbmodvFr3Ly5NNB.jpg");
						position: absolute;
						top: 50%;
						left: 50%;
						margin-right: -50%;
						transform: translate(-50%, -50%) }
					}
	body
		block content
		block foot
			#footer
				p some footer here